doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Introduction To WebGl & 3D Graphics
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Introduction To WebGl & 3D Graphics 
        h4 By
        h3 Aravind Udayashankara ( aravind666 @ github )
        h4  <aravind.udayashankara@costrategix.com>
      section
        h2 Web GL
        ul
          li A new standard for 3D graphics on the Web
          li WebGL is part of the HTML5 family of technologies.
          li Allows developers to harness the full power of the computer’s graphics rendering hardware
          li works on the majority of desktops, as well as a growing number of mobile browsers.
      section
        h2 Why 3D on Web
        h3 Making web experience more visually rich and engaging ...
      section
        h2 WebGL in Technical Context
        ul
          li WebGL is an API
          li WebGL is based on OpenGL ES 2.0
          li WebGL combines with other web content
          li WebGL is built for dynamic web applications
          li WebGL is cross-platform
          li WebGL is royalty-free
      section
        h2 Capsule to Learn Soon
        ul
          li There are several open source JavaScript toolkits that take the grunt work out of development
          li These tools at least  make it possible for mere mortals with modest web development experience to get into the WebGL business
      section
        h2 Some Examples
          h4 http://www.chromeexperiments.com/webgl
          h4 https://code.google.com/p/webglsamples/
          h4 http://aleksandarrodic.com/p/jellyfish/
          h4 Google Body (now http://www.zygotebody.com), parts of Google Maps, and Google Earth
          h4 http://www.ro.me/tech/
          h4 http://alteredqualia.com/
      section
        h2 References
            h4 WebGL: Up and Running -- By Tony Parisi
            h4 Beginning WebGL for HTML5 -- By Brian Danchilla
            h4 Wikipedia
    script(src='build/build.js')